<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Department</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/add_edit.css') }}"/>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>

    <body>
        <h1>Add New Department</h1>
        <div class="dummy_box">
            <div class="box">
                <form method="POST" action="/add_department">
                    <input
                    type="text"
                    id="department_id"
                    name="department_id"
                    placeholder="Department ID"
                    spellcheck="false"
                    pattern=".{11}"
                    title="Department Id must be 11 characters"
                    required
                    /><br />

                    <input
                    type="text"
                    id="department_name"
                    name="department_name"
                    placeholder="Department Name"
                    spellcheck="false"
                    maxlength="100"
                    title="Department Name must be up to 100 characters"
                    required
                    /><br />
                    
                    <button type="submit" id="hidden_submit" style="display: none;"></button>
                </form>
            </div>

            <div class="button">
                <button
                    type="button"
                    onclick="window.location.href='{{ url_for('departments.view_departments') }}'"
                    >
                    Back
                </button>

                <button type="submit" id="visible_submit">Submit</button>
            </div>
        </div>
    </body>
</html>
