<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to the Student Management System</h1>

    {% if current_user.is_authenticated %}
    
        <!-- Link to Add Student Page -->
        <a href="{{ url_for('students.add_student') }}">Add Student</a><br>

        <!-- Link to View Students Page -->
        <a href="{{ url_for('students.view_students') }}">View Students</a><br>

        <!-- Link to Add Course Page -->
        <a href="{{ url_for('courses.add_course') }}">Add Course</a><br>

        <!-- Link to View Courses Page -->
        <a href="{{ url_for('courses.view_courses') }}">View Course</a><br>

        <!-- Link to Logout Page -->
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
        <p> Go to <a href="{{ url_for('auth.login') }}"> Login</a> page.</p>
    {% endif %}
</body>
</html>
