<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Instructor Profile</title>
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style/style.css') }}"
        />
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style/dashboard.css') }}"
        />
    </head>

    <body>
        <div class="navbar">
            <div class="greeting">
                Welcome {{ instructor.first_name }} {{ instructor.last_name }}
            </div>

            <a class="logout" href="{{ url_for('auth.logout') }}"
                ><img
                src="{{url_for('static', filename='assets/icons8-logout-48.png')}}"
                alt="Logout"
                /></a> 
        </div>

        <div class="box">
            <div class="links">
                <div class="profile_info">
                    <p><strong>Instructor ID:</strong> {{ instructor.instructor_id }}</p>
                    <p><strong>Name:</strong> {{ instructor.first_name }} {{ instructor.last_name }}</p>
                    <p><strong>Gender:</strong> {{ instructor.sex.value if instructor.sex else None }}</p>
                    <p><strong>Email:</strong> {{ instructor.email }}</p>
                    <p><strong>Phone No:</strong> {{ instructor.phone_number }}</p>
                </div>
            </div>

            <div class="links">
                <a
                    href="{{ url_for('instructors.view_full_instructor_info',
                    instructor_id = instructor.instructor_id) }}"
                    >View Full Info</a
                >
                <a
                    href="{{ url_for('instructors.edit_instructor', instructor_id = instructor.instructor_id) }}"
                    >Edit Information</a
                >
            </div>

            <div class="links">
                <h2 style="text-align: center">Courses</h2>
                <ul>
                    {% for course in instructor_courses %}
                    <li>
                        <a
                            href="{{ url_for('instructors.view_enrolled_students',
                            course_code = course.course_code) }}"
                            >{{ course.course_name }}</a
                        >
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
