<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}"/> 
        <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}"/>
    </head>
    <body>
        <div class="wrapper">
            <form method="post" action="{{ url_for('auth.login') }}">
                <h2>Login</h2>
                <input
                type="text"
                id="user_id"
                name="user_id"
                placeholder="User ID"
                spellcheck="false"
                pattern=".{11}" 
                title="User ID must be 11 characters"
                required
                />

                <input
                type="password"
                id="user_password"
                name="user_password"
                placeholder="Password"
                spellcheck="false"
                required
                />

                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}

                <button type="submit" class="button">Login</button>
            </form>
        </div>
    </body>
</html>
