<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('auth.register') }}">
        <label for="user_id">ID:</label>
        <input type="text" id="user_id" name="user_id" required><br>

        <label for="user_type">User Type:</label>
        <select id="user_type" name="user_type" required>
            <option value="student">Student</option>
            <option value="admin">Admin</option>
        </select><br>

        <label for="user_password">Password:</label>
        <input type="password" id="user_password" name="user_password" required><br>
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a></p>
</body>
</html>
