<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Student Course Enrollments</title>
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style/style.css') }}"
        />
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style/tables.css') }}"
        />
    </head>

    <body>
        <h1>Your Enrollments</h1>
        <div class = "dummy_container">
            <div class="table_container">
                <table>
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for enrollment_detail in enrollment_details %}
                        <tr>
                            <td>{{ enrollment_detail.course_code }}</td>
                            <td>{{ enrollment_detail.course_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="links">
            <a href="{{ url_for('dashboard.student_dashboard') }}">Back</a>
            <a href="{{ url_for('students.enroll_course') }}">Enroll in a Course</a>
        </div>
    </body>
</html>
