<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Your Information</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}"/> 
        <link rel="stylesheet" href="{{ url_for('static', filename='style/add_edit.css') }}"/>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>

    <body>
        <h1>Edit Your Information</h1>
        <div class="dummy_box">
            <div class="box">
                <form action="" method="post">
                    <label for="email">Email</label>
                    <input
                    type="email"
                    id="email"
                    name="email"
                    value="{{ instructor.email }}"
                    placeholder="Email"
                    maxlength="50"
                    spellcheck="false"
                    required
                    />

                    <label for="phone_number">Phone No</label>
                    <input
                    type="text"
                    id="phone_number"
                    name="phone_number"
                    value="{{ instructor.phone_number }}"
                    pattern="[0-9]{10}"
                    title="Phone number must be 10 digits"
                    inputmode="numeric"
                    required
                    />

                    <button type="submit" id="hidden_submit" style="display: none;"></button>
                </form>
            </div>

            <div class="button">
                <button
                    type="button"
                    onclick="window.location.href='{{ url_for('dashboard.instructor_dashboard') }}'"
                    >
                    Back
                </button>

                <button type="submit" id="visible_submit">Submit</button>
            </div>
        </div>
    </body>
</html>
